* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  font-family: Helvetica;
  font-size: 14px;
  background-image: linear-gradient(to bottom right, #f3f2ff, #f3f9ff);
}
.shadow {
  margin-top: 30px;
  border-radius: 30px;
  z-index: 0;
  width: 30%;
  height: 500px;
  background-image: linear-gradient(to bottom right, #e9e8ff, #e5f2fe);
}
.container {
  position: absolute;
  z-index: 1;
  width: 20%;
  margin-top: 10vh;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.199);
}
.payment {
  padding-top: 10px;
}
.buy-btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom right, #5ff48b, #79f5f3);
  font-weight: bold;
}
.btn-one {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.features {
  padding: 20px 0px;
}
.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px;
}
.feature .tick,
.feature p {
  display: inline;
}
.tick {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.feature p {
  margin-left: 10px;
}
.zip-container {
  border-radius: 5px;
  padding: 10px;
  background-color: #f3f5ff;
}
#zip-input {
  width: 60%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid gray;
  background-color: rgb(231, 231, 231);
  position: relative;
  right: 20px;
  z-index: 0;
}
.check {
  width: 20%;
  border: none;
  border-radius: 5px;
  padding: 9px;
  background-color: rgb(255, 255, 255);
  position: relative;
  right: 10px;
}
.pick-up {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 30px 0;
  background-image: linear-gradient(to bottom right, #9dc3ff, #b4a9ff);
  font-weight: bold;
}
.search-icon {
  width: 20px;
  position: relative;
  border-radius: 1px;
  left: 10px;
  top: 5px;
  z-index: 1;
}
.fast {
  display: inline;
  font-weight: bold; 
}
.zip{
  margin:10px 0px;
}